body{
    background-color: #ffffff;
}
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  .carousel-item {
    height: 32rem;
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  .featurette-divider {
    margin: 5rem 0; 
  }

  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  .wrapper{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-link {
    position: relative;
    display: block;
    color: #303233 !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ffffff !important;
}
.page-link:hover {
    z-index: 2;
    color: #fff !important;
    background-color: #000000;
    border-color: #000000;
}
.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
}

.form-control{
    height:50px;
    border:2px solid #eee;
}
.form-control:focus{
    box-shadow:none;
    border:2px solid rgb(0, 0, 0);
}
#top-search{
    height:50px;
    background-color:rgb(0, 0, 0);
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #dadada;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #dadada;
}

.scrollarea {
  overflow-y: auto;
}  